HW 3 Мельчук А.Б.

Тема “Создание признакового пространства”

Используем предобработанные в рамках 1-ого домашнего задания датасет combine_df_prepocessed.pkl. Используем столбец 'clean_tweet'.

## Задание 1.
Используя библиотеку Spacy, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? (Учтите, что max_word_limit_spacy для Spacy = 1000000)
С помощью Spacy выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?
Повторим шаги из заданий 1 и 2, используя библиотеку nltk.

In [50]:
import warnings
warnings.filterwarnings("ignore")

In [51]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd
import numpy as np

In [53]:
tweets = pd.read_pickle('/content/drive/My Drive/gu-nlp/combine_df.pkl')
tweets.head()

   id  ...                                   tweet_lemmatized
0   1  ...  [father, dysfunctional, selfish, drag, kid, dy...
1   2  ...  [thanks, lyft, credit, use, cause, offer, whee...
2   3  ...                                  [bihday, majesty]
3   4  ...                      [model, love, take, time, ur]
4   5  ...                  [factsguide, society, motivation]

[5 rows x 7 columns]

In [6]:
#!pip install -U spacy
#!python -m spacy info
# !python -m spacy download en_core_web_md

Collecting en_core_web_md==2.3.1
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz (50.8MB)
     |████████████████████████████████| 50.8MB 74.3MB/s
Requirement already satisfied: spacy<2.4.0,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from en_core_web_md==2.3.1) (2.3.2)
Requirement already satisfied: thinc==7.4.1 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (7.4.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (49.6.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (1.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (1.0.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (0.7.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (1.18.5)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (1.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (2.23.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (4.41.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (3.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (2.0.3)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (0.4.1)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (1.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy<2.4.0,>=2.3.0->en_core_web_md==2.3.1) (3.1.0)
Building wheels for collected packages: en-core-web-md
  Building wheel for en-core-web-md (setup.py) ... done
  Created wheel for en-core-web-md: filename=en_core_web_md-2.3.1-cp36-none-any.whl size=50916643 sha256=271b991e4df9557a89a8b0a58b08958546eff73dd37f8fdf8ac857bf98a32d3b
  Stored in directory: /tmp/pip-ephem-wheel-cache-mbmtak15/wheels/6e/65/3a/34cdc26d4084d1d1f1e2ec9914964759ea17aa382c53a57d9f
Successfully built en-core-web-md
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-2.3.1
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_md')

In [54]:
import spacy
from spacy import displacy
import en_core_web_md
nlp = en_core_web_md.load()

ner_sp = {
    "text": [],
    "label": [],
}

In [55]:
def build_ner_sp(tweet):
  doc = nlp(tweet)
  for ent in doc.ents:
    ner_sp['text'].append(ent.text)
    ner_sp['label'].append(ent.label_)

In [56]:
tweets['tweet'].apply(lambda x: build_ner_sp(x))

0        None
1        None
2        None
3        None
4        None
         ...
49154    None
49155    None
49156    None
49157    None
49158    None
Name: tweet, Length: 49159, dtype: object

In [57]:
ner_df_sp = pd.DataFrame.from_dict(ner_sp)
ner_df_sp.head()

         text   label
0         pdx     GPE
1  getthanked  PERSON
2      bihday    DATE
3    tomorrow    DATE
4       danny  PERSON

In [58]:
ner_df_sp.text.value_counts().head(20)

today       1397
tomorrow     597
friday       588
one          518
first        514
orlando      473
sunday       466
morning      432
tonight      420
bihday       406
summer       402
saturday     323
monday       242
america      218
night        198
two          183
days         179
weekend      172
london       169
thursday     165
Name: text, dtype: int64

In [59]:
ner_df_sp.loc[ner_df_sp['label'] == 'PERSON'].text.value_counts().head(20)

bing bong bing bong                                        107
suppo                                                       69
obama                                                       67
hillary                                                     55
sta                                                         45
melancholy melancholymusic                                  40
feminismiscancer feminismisterrorism feminismmuktbharat     40
bjp                                                         36
christina grimmie                                           34
hu                                                          30
jo cox                                                      29
tgif ff                                                     26
lebron                                                      26
gamedev indiedev indiegamedev                               25
donald trump                                                25
sea shepherd suppoers                                       25
clinton                                                     22
boricua                                                     22
th bihday                                                   22
jesus                                                       22
Name: text, dtype: int64

In [60]:
ner_df_sp.loc[ner_df_sp['label'] == 'ORG'].text.value_counts().head(20)

sjw                 102
allahsoil            84
gop                  76
nba                  59
islam                53
trump                50
ht                   42
facebook             40
bihday               39
cavs                 39
social analytics     34
ios                  30
obama                30
cnn                  30
google               29
wso                  28
eu                   26
congress             22
kkk                  20
spo                  20
Name: text, dtype: int64

## Задание 2.
Используя библиотеку nltk, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? Для данного задания используем ограничение на количество символов во входном датасете (max_word_limit_spacy = 1000000), чтобы иметь возможность сравнить результаты работы Spacy и nltk. Обратите внимание, что nltk чувствителен к регистру.

С помощью nltk выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

In [61]:
import nltk

In [62]:
# nltk.download ()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

True

In [63]:
ner_nltk = {
    "text": [],
    "label": [],
}

In [64]:
def build_nltk_ner(tweet):
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(tweet.title()))):
         if hasattr(chunk, 'label'):
            ner_nltk['text'].append(' '.join(c[0] for c in chunk))
            ner_nltk['label'].append(chunk.label())

In [65]:
tweets['tweet'].apply(lambda x: build_nltk_ner(x))

0        None
1        None
2        None
3        None
4        None
         ...
49154    None
49155    None
49156    None
49157    None
49158    None
Name: tweet, Length: 49159, dtype: object

In [66]:
ner_df_ntlk = pd.DataFrame.from_dict(ner_nltk)
ner_df_ntlk.head()

               text         label
0            Father        PERSON
1              Kids  ORGANIZATION
2       Lyft Credit        PERSON
3  Offer Wheelchair        PERSON
4               Pdx           GPE

In [67]:
ner_df_ntlk.text.value_counts().head(20)

Happy                1113
New                   528
Model                 500
Ur                    498
Father                498
Good                  422
Love                  365
Will                  347
Great                 271
Us                    264
Bull Up               246
Orlando               239
Life                  204
Sad                   191
Ready                 191
Forward               168
Have                  165
Gorilla Simulator     162
Trump                 147
Got                   147
Name: text, dtype: int64

In [68]:
ner_df_ntlk.loc[ner_df_ntlk['label'] == 'ORGANIZATION'].text.value_counts().head(20)

Well Deletetweets                         126
Development Organizations Work Mindset     95
Vicinity Of Their                          89
Fathers                                    79
Vast Expanse Of Mountains                  76
Lot                                        68
House                                      67
Work Conference                            65
Happiness                                  61
City Each Side                             54
Same                                       53
All                                        53
Melancholy Melancholymusic                 46
Love                                       43
Hate                                       37
Weekend                                    37
Into                                       37
No                                         36
Best                                       36
Get Get Enjoy Music                        34
Name: text, dtype: int64

In [69]:
ner_df_ntlk.loc[ner_df_ntlk['label'] == 'PERSON'].text.value_counts().head(20)

Happy                       995
Model                       498
Father                      485
Will                        345
Good                        313
Love                        253
Bull Up                     246
Sad                         169
Forward                     166
Gorilla Simulator           162
Have                        159
Delete Old                  130
Found Way How               130
Ready                       127
Trump                       118
Aww                         115
Attack Bull                 115
Help                        112
Good Bing Bong Bing Bong    107
Hey                         107
Name: text, dtype: int64

## Задание 3.
Какая из библиотек по вашему лучше отработала? Сравните качество полученных most_common NER и количество распознаных NER.

Библиотека spacy работает сильно лучше.